<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <title>Contacts</title>
</head>
<body>
    <ul>
        <li>
            <a href="/">Главная</a>
        </li>
        <li>
            <a href="/contacts/">Контакты</a>
        </li>
        <li>
            <a href="/results/">Результаты</a>
        </li>
    </ul>
    <p>Телефон 8 800 555 35 35 </p>
    <p>Разработчик: {{name}}</p>
    <p class="alert">Это предупреждение!</p>
</body>
</html>